[Unit]
Description=go-librespot (Spotify Connect) for Beocreate
After=network-online.target sound.target sigmatcpserver.service
Wants=network-online.target

[Service]
Type=simple
# Not as root: user pi is in the audio group and thus has access to the sound card.
User=pi
ExecStart=/opt/go-librespot/go-librespot --config_dir /home/pi/.config/go-librespot
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
